.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    background-color: var(--dark-main-color);
    padding: 0 0 5rem 0;
    box-shadow: var(--main-inner-shadow);
}

.card-container {
    position: relative;
    width: 18rem;
    height: 23rem;
    background-color: var(--transparency-background);
    border-radius: 10px;
    margin: 8rem 1rem 1rem 1rem;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.card-container:hover {
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}


.card-img {
    position: absolute;
    top: -27%;
    left: 15%;
    width: 70%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: var(--main-outside-shadow)
}

.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6rem 0.5rem;
    color: var(--white-color);
}

.card-info p > span {
    font-weight: 600;
}
.card-info h1 {
    text-align: center;
    color: var(--red-main-color);
}