.main-characters__container{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    justify-content: center;
    background-image: linear-gradient(to right, var(--red-main-color) 0%, var(--dark-main-color) 84%);    
}

.character__container{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    background-color: var(--transparency-background);
    backdrop-filter: blur(10px);
    border-radius: 0.7rem;
    padding: 1rem;

}


.right{
    flex-direction: row-reverse;
}
.left{
    flex-direction: row;
}

.character__img{
    --main-size: 18rem;
    align-self: center;
    width: var(--main-size);
    height: auto;
    object-fit: contain;
    margin: 2rem;
    border-radius: 0.4rem;
}

.character__info{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    color: #DDDDDD
}
.character__info h1{
    margin: 1rem;
    color: var(--dark-main-color);
    font-weight: 600;
}

@media only screen and (max-width: 768px){
    .character__container{
        flex-direction: column;
    }

    .character__img{
        --main-size: 15rem;
    }
}