.cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;

}


.card-container{
    width: 18rem;
    border: red solid 3px;
    margin: 1rem;
}

.card-img{
    width: 100%;
    height: auto;
}

.card-info{
    padding: 0.5rem;
}