navigation-bar{
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: tomato;
}

navigation-bar .navbar {
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.navbar a{
    text-decoration: none;
}


.sticky {
    background-color: white;
} 