@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
/* Css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	vertical-align: baseline;
	font-family: var(--regular-font)
}
/* Css reset */

:root{
	--regular-font:'Source Sans Pro', sans-serif;
	--video-inner-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
	--blue-main-color: #30475E;
	--dark-main-color: #222831;
	--red-main-color: #F05454;
	--button-main-color: radial-gradient( circle 957px at 8.7% 50.5%,  rgba(246,191,13,1) 0%, rgba(249,47,47,1) 90% );
	--white-color: #DDDDDD;
	--main-inner-shadow: inset 0 0 1rem var(--dark-main-color);
	--transparency-background: rgba(255, 255, 255, 0.2);
	--main-outside-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
	rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	--main-border-radius: 10px;
	--dark-gradient: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}


.font-large{
	font-size: 2rem;
}

.font-medium{
	font-size: 1.3rem;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
