.trailers-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--red-main-color);
    padding: 2rem 0;
    z-index: 0;
    margin-bottom: 100vh;
    
}

.trailer__video-container{
    --main-size: 35rem;
    width: var(--main-size);
    height: 10.5rem;
    object-fit: contain;
    box-shadow: var(--inner-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-decoration: none;
}

.trailer-video{
    width: inherit;
    height: 10.5rem;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.trailer__video-container > h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: 550;
    transition: 0.7s;
}

@media only screen and (max-width: 768px){
    .trailer__video-container > h1{
        font-size: 2rem;
    }
    .trailer__video-container{
        --main-size: 90vw;
    }
}